


.chat-header {
  padding: 0.625rem 1.25rem;
  display: flex;
  justify-content: space-between;
   position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.chat-header-title {
  font-weight: 700;
}

.chat-body {
  background-color: #e7e7e7;
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
  padding-bottom: 70px; /* Add padding to ensure last message is not hidden */

  .message {
    margin: 0.313rem;
    padding: 1rem;
    border-radius: 0.625rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    max-width: 500px; /* Maximum width */
    width: fit-content; /* Width to fit content */
    word-wrap: break-word;
  }

  .user {
    background-color: #3498db;
    color: #fff;
    align-self: flex-end;
    text-align: right;
  }

  .sender {
    background-color: #c0c0c0;
    color: #000;
    align-self: flex-start;
    text-align: left;
  }
}

.chat-message {
  padding: 1% 2%;
  display: flex;
  flex-direction: column;
}

.chat-input {
  position: fixed;
  bottom: 0;
  width: 75%;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  background-color: #f1f1f1;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

#message-input {
  flex: 1;
  height: 50px;
  padding: 0 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #e7e4e4;
  margin: 0.8rem 1%;
}

#send-button {
  background-color: #007bff;
  border: 1px solid #007bff;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 1% 1% 1% 0%;
}

#send-button:hover {
  background-color: #76beee;
}

#attach-button {
  background-color: #fcfdff;
  border: 1px solid #9e9e9e;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 1% 1% 1% 0%;
 
}

.chat-sender-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
